@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: "Encode Sans Semi Expanded", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
:root{
    --rojo: #ED0000;

}
.div{
    background-color: var(--rojo);
}
.logoarriba{
    height: 50px;
    width: 50px;
}
header {
    position: fixed;
    display: flex;
    align-items: center; 
    background-color: #ffffff;
    height: 65px;
    width: 100%;
    padding: 0 20px;
    z-index: 1000; 
    padding-top: 5px;
    top:0;

}
input[type="search"] {
    background-color: #EDF3F8;
    border: none;
    font-size: 24px;
    border-radius: 5px;
    text-indent: 5px;
    margin-left: 15px; 
    margin-right: 50px;
    color: #323232;
    
}

.boton-inicio
{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.boton-perfil-alumno, .boton-mis-profesores,.boton-calendario,.boton-notificaciones,.boton-configuracion,.boton-mensajes
{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 30px;
    
}
.boton-inicio a,.boton-perfil-alumno a, .boton-mis-profesores a,.boton-calendario a,.boton-notificaciones a,.boton-configuracion a,.boton-mensajes a{
    text-decoration: none; 
    color: #1565C0;
    margin-left: 10px;
    font-size: 15px;
    transition: color 0.3s;
    text-align: center;
    
}
.boton-inicio button,.boton-perfil-alumno button, .boton-mis-profesores button,.boton-calendario button,.boton-notificaciones button,.boton-configuracion button,.boton-mensajes button
{
    background-color: transparent;
    border: none;
    margin-left: 10px;
}
.boton-inicio img,.boton-perfil-alumno img, .boton-mis-profesores img,.boton-calendario img,.boton-notificaciones img,.boton-configuracion img,.boton-mensajes img{
    transition: filter 0.3s;
}
.boton-inicio:hover img,.boton-perfil-alumno:hover img, .boton-mis-profesores:hover img,.boton-calendario:hover img,.boton-notificaciones:hover img,.boton-configuracion:hover img,.boton-mensajes:hover img
{
    filter: brightness(0.7); 
    cursor:pointer;
}

.boton-inicio:hover a,.boton-perfil-alumno:hover a, .boton-mis-profesores:hover a,.boton-calendario:hover a,.boton-notificaciones:hover a,.boton-configuracion:hover a,.boton-mensajes:hover a {
    color: #000; 
    text-decoration: underline;
    cursor:pointer;
}

main {
    margin-top: 100px; 
}
.PanelIzquierdo
{
    background-color: #ffffff;
    height:1000px;
    width: 230px;
    color: #1565C0;
    position: fixed;
}
.config
{
    font-weight: 500;
    font-size: 28px;
}
.seguridad, .visualización, .ajustes
{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px;
        font-weight: 500;
        font-size: 18px;
        color: #1565C0;

}
.seguridad p, .visualización p, .ajustes p{
    font-weight: 500;
   font-size: 18px;
   margin-left: 15px;
}
.panel-configuracion {
    background-color: #E8E8E8;
    padding-left: 50px;
    height: 1000px;
    width: calc(100% - 230px);
    position: relative;
    top: 0;
    left: 250px;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    color: #424242;
    text-align: left;
    
}
.panel-configuracion p{
    width: 500px;
}
.ajustes-configuracion, .seguridad-configuracion, .visualizacion-configuracion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    border-radius: 50px;
}
.ajustes-configuracion button, .seguridad-configuracion button, .visualizacion-configuracion button{
    height: 60px;
    width: 500px;
    text-align: left;
    font-weight: 600;
    text-decoration: #B18FB7;
    padding-left: 20px;
    color: #424242;
    background-color: #ffffff;
    border-width: 0.1px;
    border-color: #e8e8e8;
    font-size: 24px;
    border-right: none;
    border-left: none;
    transition: color 0.6s;
    box-shadow: 0 4px 6px #00000066;
    
}
.top-button-config{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: none;
}
.bottom-button-config{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: none;
}
.ajustes-configuracion button:hover, .seguridad-configuracion button:hover, .visualizacion-configuracion button:hover{
    filter: brightness(0.9);
    cursor:pointer;
}
footer{
    align-items: center;
    text-align: center;
    width: calc(100% - 250px);
    position: relative;
    bottom: 0;
    left: 250px;
    padding: 10px 0;
    background-color: #ffffff;
}
footer img{
    scale: 45%;

}
.lista-chats{
    background-color: #999;
    width: 250px;
    height: 100%;
    
}
.minichat{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    transition: color 1.7s;
}
.minichat:hover{
    filter: brightness(1.7);
}
.minichat img{
    height: 50px;
    width: 50px;
}
.minichat p{
    font-size: 16;
    font-weight: 500;
    padding-left: 15px;
    color:#1565C0;
}