@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: "Encode Sans Semi Expanded", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
:root{
    --rojo: #ED0000;

}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    position: fixed;
    display: flex;
    align-items: center; 
    background-color: #ffffff;
    height: 65px;
    width: 100%;
    padding: 0 20px;
    z-index: 1000; 
    padding-top: 5px;
    top:0;
    flex-wrap: wrap;

}
.logoarriba{
    max-height: 50px;
    max-width: 50px;
}
input[type="search"] {
    background-color: #EDF3F8;
    border: none;
    font-size: 24px;
    border-radius: 5px;
    text-indent: 5px;
    margin-left: 15px; 
    margin-right: 50px;
    color: #323232;
    flex-grow: 1;
    
}
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }
}

header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
header ul li {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 30px;
}
header ul li a {
    text-decoration: none; 
    color: #1565C0;
    font-size: 15px;
    transition: color 0.3s;
    text-align: center;
}
header ul li button {
    background-color: transparent;
    border: none;
}
header ul li img {
    transition: filter 0.3s;
}
header ul li:hover img 
{
    filter: brightness(0.7); 
    cursor:pointer;
}

header ul li:hover a {
    color: #000; 
    text-decoration: underline;
    cursor:pointer;
}

main {
    margin-top: 65px; 
    display: flex;
    flex-grow: 1;
}
.PanelIzquierdo
{
    background-color: #ffffff;
    color: #1565C0;
    max-width: 230px;
    flex-shrink: 0;
    
}
.PanelIzquierdo p {
    font-weight: 500;
    font-size: 28px;
}
.PanelIzquierdo div {
    display: flex;
    align-items: center;
    padding: 20px;
    font-weight: 500;
    font-size: 18px;
    color: #1565C0;
}

.PanelIzquierdo div p {
    margin-left: 15px;
    font-size: 18px;
}

.panel-configuracion {
    background-color: #dae8ff ;
    padding: 25px 50px;
    flex-grow: 1; /* Hace que el panel de configuración se expanda */
    font-weight: 600;
    font-size: 30px;
    color: #424242;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.ajustes-configuracion, .seguridad-configuracion, .visualizacion-configuracion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    width: 100%;
    max-width: 500px;
    border-radius: 50px;
}
.ajustes-configuracion button, .seguridad-configuracion button, .visualizacion-configuracion button{
    height: 60px;
    width: 100%;
    max-width: 500px;
    text-align: left;
    font-weight: 600;
    padding-left: 20px;
    color: #424242;
    background-color: #ffffff;
    border-width: 0.01px solid #e8e8e8;
    border-color: #e8e8e8;
    font-size: 24px;
    border-right: none;
    border-left: none;
    transition: color 0.6s;
    box-shadow: 0 4px 6px #00000066;
    
}
.top-button-config{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: none;
}
.bottom-button-config{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: none;
}
.ajustes-configuracion button:hover, .seguridad-configuracion button:hover, .visualizacion-configuracion button:hover{
    filter: brightness(0.9);
    cursor:pointer;
}
footer{
    align-items: center;
    text-align: center;
    padding: 10px 0;
    background-color: #ffffff;
}
footer img{
    scale: 45%;

}
.lista-chats{
    background-color: #fff;
    width: 250px;
    height: 100%;
    
}
.minichat{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: color 1.7s;
}
.minichat:hover{
    filter: brightness(1.7);
}
.minichat img{
    height: 50px;
    width: 50px;
}
.minichat p{
    font-size: 16;
    font-weight: 500;
    padding-left: 15px;
    color:#1565C0;
}
.chat{
    display: flex;
    flex-direction: column;
}
.chatbody{
    display: flex;
}
.mensajes{
    display: flex;
}
.chatbody{
    display: flex;
    height: calc(100%-100px);
    flex-grow: 1;
    background-color: #dae8ff;
    overflow: scroll;
    overflow-x: hidden;
    height: 370px;
}
.mensajebar{
    display: flex;
    background-color: #024086;
    align-items: center;
    height: 100px;
    flex-direction: row;
    width:100%;
    padding: 10px;

}
.mensajebar form{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
.mensajebar form input[type="text"]{
    background-color: #EDF3F8;
    font-weight: 400;
    height: 40px;
    font-size: 20px;
    flex-grow: 1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-indent: 10px;
    border: none;
}
.mensajebar form input[type="image"]{
    background-color: #EDF3F8;
    height: 40px;
    width: 40px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.mensajebar form input[type="image"]{
    border: none;
}
