@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
    background-image: url('Images html/fondo inicio de Sesion.png');
    background-size: cover;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    font-family: "Encode Sans Semi Expanded", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}


.headerlogin {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    top: 0px;
}


.headerlogin img {
    width: 80px; 
   


}
.headerlogin div{
    display: flex;
    flex-direction: row;
    color:#001767;
    padding-top:10px;
    padding-right: 5px;
    align-items: center;
    height: fit-content;


}
.headerlogin button{
    background-color:#ffffff;
    color: #001767;
    border:1px solid #001767;
    border-radius: 54px;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    transition: all 0.3s;
}
.headerlogin button:hover{
    cursor: pointer;
    background-color: #eee;
    filter: drop-shadow(0.5);
}
.headerlogin p{
    margin: 0px;
    padding-right: 5px;
    color: #001767;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.formulario {
    width: 350px;
    border-radius: 15px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}


.formulario h1 {
    color: #001767;
    margin-bottom: 20px;
    text-align: left;
    width: 100%;


}


.formulario form {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.usuario, .contraseña {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    background-color: #d9d9d9;
    border-radius: 10px;
    
}
.espacio{
    margin-bottom: 10px;
}


.usuario img {
    height: 50px;
    width: auto;
    background-color: #d9d9d9;
    margin-right: 0px; 
    border-radius: 10px;



}


.contraseña img{
    height: 50px;
    width: auto;
    background-color: #d9d9d9;
    margin-right: 0px;
    border-radius: 10px;

}




.formulario input {
    height: 50px;
    font-size: 50px;
    padding: 0 10px;
    border: 2px solid #d9d9d9;
    font-size: 18px;
    color:black;
    border-radius: 4px;
    flex: 1; 
}


.formulario input[type="submit"] {
    background-color: #1565C0;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 4px;
    margin-top: 20px;
}


.formulario input[type="submit"]:hover {
    background-color: #1565C0;
}


.formulario .recordar {
    margin: 10px 0;
    text-align: center;
}


.registrarse {
    text-align: center;
    margin-top: 20px;
}
.formulario a{
text-decoration: none;
color: #1565C0;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: px;
}


body {
    background-color: #e9f0fb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    text-align: left;
}


.container {
    text-align: center;
}


.logo img {
    width: 120px;
    margin-bottom: 20px;
}


.form-container {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 380px;
}


h1 {
    margin-bottom: 20px;
    color: #002d72;
    width: 100%;
    text-align: start;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 10px;
    background-color: #ccc;

}

.input-group i {
    color: #6b6b6b;
    font-size: 30px;
    margin-right: 10px;
    width: 10%;
}

input, select {
    font-family: "Encode Sans Semi Expanded", sans-serif;
    width: 100%;
    padding: 12px;
    border: 2px solid #ccc;
    font-size: 14px;
    outline: none;
    border-radius: 5px;
}

input:focus, select:focus {
    border-color: #002d72;
    outline: 2px solid #002d72; /* resaltado al enfocar */
}


.radio-group {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.radio-group input {
    margin-right: 10px;
}


.radio-group label {
    margin-right: 20px;
    font-size: 16px;
    color: #333;
}


.btn {
    background-color: #002d72;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}


.btn:hover {
    background-color: #001f54;
}


p {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}


p a {
    color: #002d72;
    text-decoration: none;
}


p a:hover {
    text-decoration: underline;
}

.fondobasico{
    background-color: #dae8ff;
}

.datos-profesor{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 380px;
}
.datos-profesor p{
    color: #001767;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}
input[type="file"]{
 border-radius: 20px;
 border-color: #001767;
 font-size: 10px;
 padding: 5px 20px;
 margin-bottom: 5px;
}
.datos-alumno{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 380px;
}
.datos-alumno p{
    color: #001767;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;