@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: "Encode Sans Semi Expanded", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
:root{
    --rojo: #ED0000;

}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    margin-top: 65px; 
    display: flex;
    flex-grow: 1;
}
.PanelIzquierdo
{
    background-color: #ffffff;
    color: #1565C0;
    max-width: 230px;
    flex-shrink: 0;
    
}
.PanelIzquierdo p {
    font-weight: 500;
    font-size: 28px;
}
.PanelIzquierdo div {
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 0;
    font-weight: 500;
    font-size: 18px;
    color: #1565C0;
}

.PanelIzquierdo div p {
    margin-left: 15px;
    font-size: 18px;
}

.panel-configuracion {
    background-color: #dae8ff ;
    padding: 25px 50px;
    flex-grow: 1; /* Hace que el panel de configuración se expanda */
    font-weight: 600;
    font-size: 30px;
    color: #424242;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.panel-configuracion p{
    width: 100%;
    max-width: 700px;
}
.ajustes-configuracion, .seguridad-configuracion, .visualizacion-configuracion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    width: 100%;
    max-width: 700px;
    border-radius: 50px;
}
.ajustes-configuracion button, .seguridad-configuracion button, .visualizacion-configuracion button{
    height: 60px;
    width: 100%;
    max-width: 700px;
    text-align: left;
    font-weight: 400;
    padding-left: 20px;
    color: #424242;
    background-color: #ffffff;
    border-width: 0.01px solid #e8e8e8;
    border-color: #e8e8e8;
    font-size: 24px;
    border-right: none;
    border-left: none;
    transition: color 0.6s;
    box-shadow: 0 4px 6px #00000066;
    
}
.top-button-config{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: none;
}
.bottom-button-config{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: none;
}
.buttonconfig{
    border-radius: 10px;
}
.ajustes-configuracion button:hover, .seguridad-configuracion button:hover, .visualizacion-configuracion button:hover{
    filter: brightness(0.9);
    cursor:pointer;
}
footer{
    align-items: center;
    text-align: center;
    padding: 10px 0;
    background-color: #ffffff;
}
footer img{
    scale: 45%;

}

.main-misprofesores{
    background-color: #dae8ff;
    margin-top: 65px;
    padding-bottom: 20px;
    min-height: 75vh;
    display: flex;
    justify-content: space-between;
}
.aside-misprofesores{
    height: max-content;
    width: 200px;
    margin-left: 20px;
}
.header-filtrar-profesores{
    margin-top: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px #00000066;
    color: #5b6174;
    font-size: 28px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    justify-content: stretch;
    padding: 10px;
    width: 100%;
}
.filtrar-profesores{
    margin-top: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px #00000066;
    color: #5b6174;
    font-size: 28px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.filtrar-profesores ul{
    font-size: 18px;
    font-weight: 400;
    list-style: none;
}
.filtrar-profesores li:hover{
color: #000000;
}
.lista-misprofesores{
    justify-content: center;
}
.filtrar-profesores div{
    display: flex;
    flex-direction: row;
}
.filtrar-profesores input{
    border: none;
    background-color: #EDF3F8;
    color: #979CAD;
    border-radius: 10px;
}
.filtrar-profesores p{
    padding-top: 10px;
    padding-bottom: 5px;
}
.profesor-misprofesores{
    align-self: center;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 4px 6px #00000066;
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 700px;
    padding: 10px;
    color: #5b6174;
    margin: auto; 
    margin-top: 30px;
}
.name-profesor{
    font-size: 28px;
    font-weight: 600;
    color: #5b6174;
}
.content-profesor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}
.h1misprof{
    background-color: #ffffff;
    align-self: center;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 4px 6px #00000066;
    padding: 10px 5px;
    text-align: center;
}
.datacontainer{
    display: flex;
    flex-direction: row;
}
.bold{
    font-weight: 600;
}
.datos-profesor{
    display: flex;
    flex-direction: column;

}
.datos-profesor div{
    margin-bottom: 15px;
}
.botones-profesor{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.botones-profesor button{
    border: 1px solid #424242;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 7px 5px;
    font-weight: 600;
    background-color: #ffffff;
}
.botones-profesor button:hover{
    filter: brightness(0.8);
}
.estrellas:not(:checked)>input{
    appearance: none;
}
.estrellas:not(:checked)>label{
    float: right;
    cursor:pointer;
    font-size: 30px;
    color: #000000;
}
.estrellas:not(:checked)>label::before{
    content: '★';
}
.estrellas>input:checked+label:hover,
.estrellas>input:checked+label:hover ~label,
.estrellas>input:checked~label:hover,
.estrellas>input:checked~label:hover ~label,
.estrellas>label:hover~input:checked~label{
    color: #e58e09;
}
.estrellas:not(:checked)>label:hover,
.estrellas:not(:checked)>label:hover~label{
    color: #ff9e0b;
}

.main-fondo-azul{
background-color: #DAE8FF;
}
.materialdetrabajo{
    background-color: #ffffff;
    border-radius: 35px;
    width: 50%;
    margin: 0 25%;
    margin-top: 25px;
    box-shadow: 0 4px 6px #00000066;
    min-height: 100px;
    max-height: 300px;
    height: auto;
    padding: 20px;
    flex-grow: 1;
}
.materialdetrabajo h1{
    font-size: 24px;
    font-weight: 600;
}
.materialdetrabajo h2{
font-size: 18px;
margin-top: 10px;
font-weight: 600;
}

.materialdetrabajo-desc{
    margin-bottom: 14px;

}
.button button{
    display: flex;
    right: 0;
    bottom: 0;
    margin: 0   ;
}
.botondescargar{
    background-color: #ffffff;
    border: 2px solid #424242;
    border-radius: 30px;
    flex-direction: row;
    display: flex;
    align-items: center;
    color: #424242;
    padding: 5px 25px;
    font-size: 18px;
    margin-left: auto;
    margin-right: 0px;
    transition: color 0.7s;
    font-weight: 500;
}
.divbtndescargar{
    display: flex;
}
.botondescargar:hover{
    filter:brightness(0.9);
    cursor: pointer;
}
.editmateriales{
    position: fixed;
    left: 20px;
    bottom: 20px;
    padding: 10px 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 0 4px 6px #00000066;

}
.editmateriales button{
    font-size: 20px;
    border: 2px solid #424242;
    border-radius: 20px;
    margin: 5px;
    color: #424242;
    padding: 2.5px 20px;
    background-color: #ffffff;
}
.editmateriales button:hover{
    filter:brightness(0.9);
    cursor: pointer;
}
.sectioncrearmateriales{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.crearmaterialdiv{
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    margin-top: 50px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 6px #00000066;
    width: 50%;

}
.sectionscrearmaterial{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}
.crearmaterialdiv h1{
    font-size: 26px;
    font-weight: 550;
}
.sectionscrearmaterial div{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
}

.sectionscrearmaterial div p{
    font-size: 20px;
}

.nombre-archivo-material input[type=text]{
    font-size: 22px;
    text-indent: 5px;
    padding: 5px 5px;
    width: 60%;
    background-color: #edf3f8;
    border: none;
    box-shadow: 0 4px 6px #00000066;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
}
.nombre-archivo-material input[type=file]{
    border: 1.5px solid #424242;
    font-size: 10px;
    border-radius: 20px;
    padding: 10px 15px;
    width: 80%;
    margin-top: 5px;
    margin-bottom: 15px;
}
.descripcion-subir-material textarea{
    font-size: 14px;
    text-indent: 5px;
    height: 140px;
    padding: 5px;
    box-sizing: border-box;
    resize: none;
    background-color: #edf3f8;
    border: none;
    box-shadow: 0 4px 6px #00000066;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
}
.subirmaterial{
    margin-left: auto;
    margin-top: 50px;
}
.subirmaterial input{
    border: 2px solid #424242;
    border-radius: 20px;
    font-size: 20px;
    color: #424242;
    background-color: #fff;
}
.subirmaterial input:hover{
    filter: brightness(0.9);
}
.div-datoscontacto{
    display: flex;
    background-color: #ffffff;
    color: #424242;
    border-radius: 30px;
    box-shadow: 0 4px 6px #00000066;
    padding: 20px;
    margin-top: 25px;
    flex-direction: column;
    height: fit-content;
    width: 60%;
    padding-bottom: 40px;
}
.div-datoscontacto *{
    margin-bottom: 25px;
}
.rounded-text{
    display: flex;
    height: fit-content;
    width: fit-content;
    flex-direction: row;
    border: 2px solid #424242;
    border-radius: 30px;
}
.rounded-text p{
    margin: 0;
    padding: 5px 7.5px;
}
.centrardiv{
    display: flex;
    justify-content: center;
    width: 100vw;
}
.aside-izq-home{
    background-color: #ffffff;
    height: fit-content;
    width: 300px;
    margin-left: 20px;
    margin-top: 40px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px #00000066;
    border-top: 70px solid #1565C0;
}
.small{
    font-size: 14px;
    font-weight: 400;
}
.big{
    font-size: 20px;
    font-weight: 500;
}
.top-article-home{
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    border-bottom: 2px solid #000000;
}
.top-article-home p{
    text-indent: 3px;
}
.main-home{
    background-color: #DAE8FF;
    justify-content: center;
    justify-items: center;
    display: flex;
}
.article-home{
    background-color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    height: fit-content;
    width: 700px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 0 4px 6px #00000066;

}
.aside-der-home{
    background-color: #ffffff;
    padding: 10px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px #00000066;
    width: 300px;
    margin-top: 25px;
}
.fotoyvaloracion-article-home{
    display: flex;
    justify-content: space-between;

}
.fotoyvaloracion-article-home img{
    height: 150px;
    width: 150px;
}
.filtrar-button{
    background-color: #ffffff;
    border: 2px solid #424242;
    color: #424242;
    border-radius: 20px;
    width: 50%;
    margin: 15px 0;
    font-size: 18px;
}
.filtrar-button:hover{
    filter: brightness(0.9);
    cursor: pointer;
}
.title-aside-der-home{
    font-size: 22px;
    margin-bottom: 50px;
}
.enviar-valoracion{
    height: fit-content;
    width: fit-content;
    font-size: 18px;
    background-color: #ffffff;
    border: 2px solid #424242;
    color: #424242;
    border-radius: 20px;
    padding: 2.5px 5px;
}
.enviar-valoracion:hover{
    filter: brightness(0.9);
    cursor: pointer;
}
#foto-perfil{
    height: 100px;
    width: 100px;
}