.info-perfil-div{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px #00000066;
    width: 80%;
    font-size: 18px;
}
.info-perfil-div h1{
    padding-bottom: 30px;
}
.foto-perfil{
display: flex;
align-items: center;
margin-bottom: 20px;

}
.foto-perfil *{
    padding-right: 20px;
}
.foto-perfil img{
    border-radius: 100%;
}
.foto-perfil button{
    bottom: 0;
    margin-top: auto;
}
.info-perfil-div button{
    border: 1px solid #424242;
    border-radius: 20px;
    padding: 5px 10px;
    font-weight: 500;
    background-color: #ffffff;
}

.disponibilidad{
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    margin-top: 20px;
}
.disponibilidad button{
    width: 60%;
    padding: 5px 5px;
    font-size: 22px;
}
.confirmar{
    display: flex;
    justify-content: flex-end;
    
}
.confirmar input[type="submit"]{
    padding: 5px 20px;
    font-size: 22px;
    border-radius: 30px;
    background-color: #ffffff;
    border: 2px solid #424242;
    box-shadow: none;

}
.confirmar input[type="submit"]:hover{
    cursor: pointer;
    filter: brightness(0.9);
}
.confirmar button{
    padding: 5px 20px;
    font-size: 22px;
    border-radius: 30px;
    background-color: #ffffff;
    border: 2px solid #424242;
    box-shadow: none;

}
.confirmar button:hover{
    cursor: pointer;
    filter: brightness(0.9);
}
.datos-perfil p{
    font-size: 14px;
    padding-bottom: 5px;
}
.datos-perfil input{
    background-color: #EDF3F8;
    border: none;
    box-shadow: 0 2px 3px #00000066;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px 10px;
    margin-bottom: 20px;
}
.disponibilidad-horaria-div{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px #00000066;
    width: 60%;
    height: fit-content;
    font-size: 18px;
    margin-top: 30px;
}
.light{
    font-weight: 400;
}
.center{
    width: 100%;
    display: flex;
    justify-content: center;
}
.dias-disponibilidad input{
    border: none;
    background-color: #EDF3F8;
    color: #979CAD;
    border-radius: 10px;
    font-size: 28px;
}
button:hover{
    cursor: pointer;
    filter: brightness(0.9)
}
.shadow{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #00000099;
    z-index: 1000;
    position: fixed;

}
.password-check{
    z-index: 1001;
    position: fixed;
    width: 50vw;
    margin: 20vh 25vw;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
    align-content: center;
    flex-direction: column;
}
.password-check *{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
.password-check input[type="password"]{
    font-size: 24px;
    background-color: #EDF3F8;
    border: none;
    text-indent: 10px;
    border-radius: 10px;
    width: 80%;
}
.buttons-passwordcheck{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.buttons-passwordcheck *{
    font-size: 18px;
    padding: 5px 20px;
    font-size: 22px;
    border-radius: 30px;
    background-color: #ffffff;
    border: 2px solid #424242;
    box-shadow: none;
    margin: 0px 15px;
}
.buttons-passwordcheck *:hover{
    filter: brightness(0.9);
    cursor: pointer;
}
.inputs-time-div{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 40%;
}